 /*Configuracion inicial de la página*/
/*Resetendo el layout */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fff;
}

.navbar-flex {
  padding-bottom:2%;
  
  display:flex;
  justify-content:space-between;
  align-items:center;
  
}

.navbar-brand img{
  height:100%;
}

